---
title: Rocketbrush
bodyClass: homepage
---
extends shared/_layout
block content
  .social.js-loader.js-loader--right
    a(href="https://behance.net" target="_blank")
      +icon('ico-behance')
  .intro
    .container
      .intro__wrapper
        .intro__logo.js-loader.js-loader--top
          include ../icons/logo.svg
        .intro__heading
          .intro__heading-main.js-loader.js-loader--bottom ROCKET BRUSH
          .intro__heading-sub.js-loader.js-loader--bottom GAME ART OUTSOURCING
        .intro__description.js-loader.js-loader--bottom We are a small distributed team of experienced professionals from Eastern Europe which bring your ideas to people thru digital art. Our main focus are games, but we will be also glad to use our skills for advertising, web, cinema and other industries which require a high-quality graphic design. Our working process is honed by years and allows us to provide only what our clients need, due to permanent communication and short iterations.
  
  .particles  
    .js-scene(data-invert-y="false")
      .layer(data-depth=".25")
        .particle.particle--1
      .layer(data-depth=".1")
        .particle.particle--2
      .layer(data-depth=".1")
        .particle.particle--3
      .layer(data-depth=".15")
        .particle.particle--4
      .layer(data-depth=".25")
        .particle.particle--5
      .layer(data-depth=".5")
        .particle.particle--6
      .layer(data-depth=".4")
        .particle.particle--7
      .layer(data-depth=".5")
        .particle.particle--8
      .layer(data-depth=".7")
        .particle.particle--9
      .layer(data-depth=".2")
        .particle.particle--10
      .layer(data-depth=".4")
        .particle.particle--11
      .layer(data-depth=".5")
        .particle.particle--12
