// FOOTER
.footer
  position: relative
  z-index: 2
  padding: 60px
  &__wrapper
    display: flex
    justify-content: center
    align-items: flex-end
  &__email
    font-size: 24px
    margin-right: auto
    transition: all $transitionSpeed $ease
    .ico
      font-size: 30px
      margin-bottom: -6px
      margin-left: -2px
    span
      display: block
    &:hover
      color: $colorBlue
  &__credits
    text-align: center

  &__faces
    position: relative
    margin-left: auto
    display: flex
    align-items: center

.footer-face_desc
  position: absolute
  top: 50%
  left: -200px
  width: 200px
  transform: translate3d(-30px,-50%,0)
  opacity: 0
  pointer-events: none
  transition: all $transitionSpeed $ease
  text-align: center
  span
    display: block
    font-size: 15px
    &:first-child
      color: $colorPrimary
      margin-bottom: 2px
  &.is-active
    transform: translate3d(0,-50%,0)
    opacity: 1

.footer-face, .footer-join
  display: flex
  align-items: center
  justify-content: center
  position: relative
  z-index: 2
  size: 32px
  font-size: 32px
  overflow: hidden
  border-radius: 50%
  margin-right: 3px
  cursor: pointer
  transition: all $transitionSpeed $ease
  img
    max-width: 100%
  &:hover
    transform: scale(1.8)
    z-index: 3
    color: $colorPrimary


+r(1700)
  .footer
    &__wrapper
      flex-wrap: wrap
      justify-content: flex-start
    &__email
      order: 1
    &__credits
      flex: 0 1 100%
      order: 3
      text-align: left
      margin-top: 20px
    &__faces
      order: 2

+r($desktop)
  .footer
    padding: 100px 40px 40px 40px
    &__wrapper
      flex-direction: column
    &__email
      order: 2
      margin-top: 40px
      margin-left: auto
      margin-right: auto
      font-size: 20px
      .ico
        font-size: 26px
        margin-left: 0
      span
        display: inline-block
        margin-left: 5px
    &__credits
      width: 100%
      flex: 0 0 auto
      text-align: center
      margin: 20px 0 0 0
      font-size: 15px
    &__faces
      order: 1
      margin-left: auto
      margin-right: auto

  .footer-face_desc
    left: 50%
    top: -60px
    transform: translate3d(-50%,-25px,0)
    &.is-active
      transform: translate3d(-50%,0,0)

+r($mobile-s)
  .footer
    padding: 100px 20px 30px 20px

  .footer-face, .footer-join
    size: 28px
    font-size: 28px
