// FOOTER
.footer
  position: relative
  z-index: 2
  padding: 60px
  &__wrapper
    display: flex
    justify-content: center
    align-items: flex-end
  &__email
    flex: 0 1 430px
    order: 1
    font-size: 24px
    margin-bottom: -5px
    color: $colorMute
    transition: all $transitionSpeed $ease
    .ico
      font-size: 45px
      margin-bottom: -7px
      margin-left: -2px
      transition: all $transitionSpeed $ease
    span
      display: block
      transition: all $transitionSpeed $ease
    &:hover
      color: $colorBlue

  &__credits
    flex: 0 1 430px
    order: 3
    text-align: right
    margin-bottom: -2px
    br:nth-child(2)
      display: none
  &__faces
    order: 2
    position: relative
    margin-left: auto
    margin-right: auto
    display: flex
    align-items: center

.footer-face_desc
  position: absolute
  top: 50%
  left: -200px
  width: 200px
  transform: translate3d(-30px,-50%,0)
  opacity: 0
  pointer-events: none
  transition: all $transitionSpeed $ease
  text-align: center
  span
    display: block
    font-size: 15px
    &:first-child
      color: $colorPrimary
      margin-bottom: 2px
  &.is-active
    transform: translate3d(0,-50%,0)
    opacity: 1

//.footer-face, .footer-join
.footer-face
  display: flex
  align-items: center
  justify-content: center
  position: relative
  z-index: 2
  size: 32px
  font-size: 32px
  overflow: hidden
  border-radius: 50%
  margin-right: 4.5px
  // cursor: pointer
  transition: all $transitionSpeed $ease
  img
    max-width: 100%
  &:hover
    transform: scale(1.8)
    z-index: 3
    color: $colorPrimary

// .footer-join
//   margin-right: 0
//   color: #d5d7e0
//   &:hover
//     transform: scale(1.7)

+rh(1000)
  .footer
    padding-bottom: 40px

+rh(850)
  .footer
    padding-bottom: 30px
    padding-top: 20px

+r($hd)
  .footer
    padding: 100px 40px 40px 40px
    &__email
      flex: 0 1 360px
      font-size: 19px
      margin-bottom: -3px
      .ico
        font-size: 25px
        margin-left: -2px
        margin-bottom: -5px
    &__credits
      flex: 0 1 360px
      margin-top: 20px
      font-size: 14px
  .footer-face_desc
    display: none
    left: 50%
    top: -60px
    transform: translate3d(-50%,-25px,0)
    &.is-active
      transform: translate3d(-50%,0,0)

+r($wide)
  .footer
    &__credits
      br:nth-child(2)
        display: block


+r($desktop)
  .footer
    padding: 55px 20px 30px 20px
    &__wrapper
      flex-wrap: wrap
      justify-content: flex-start
      flex-direction: column
      max-width: 225px
      margin-left: auto
      margin-right: auto
    &__email
      flex: 0 0 auto
      order: 2
      margin-left: auto
      margin-right: auto
      width: 100%
      background: rgba(black, .04)
      border-radius: 40px
      font-size: 12.5px
      display: flex
      align-items: center
      justify-content: center
      padding: 12px
      margin-top: 65px
      span
        display: inline-block
        margin-left: 5px
      .ico
        margin: 0
        font-size: 20px
    &__credits
      width: 100%
      flex: 0 0 auto
      text-align: center
      font-size: 9px
      width: 100%
      margin: 25px 0 0 0
    &__faces
      order: 1
      margin-left: auto
      margin-right: auto
      flex-wrap: wrap
      justify-content: center
      &::before
        position: absolute
        top: -20px
        left: 0
        z-index: 1
        display: block
        content: ' '
        background: url('../img/team@2x.png') no-repeat center
        background-size: contain
        width: 100%
        height: 15px

  .footer-face
    margin-top: 9px
    size: 33px
