// INDEX

.social
  position: absolute
  right: 60px
  top: 60px
  z-index: 3
  font-size: 60px
  perspective: 60px
  transform-style: preserve-3d
  a
    display: block
    size: 60px
    border-radius: 50%
    color: $colorBlue
    transition: transform .4s $ease
  &:hover
    a
      transform: rotateY(360deg)
      transition: box-shadow .2s .2s ease
      box-shadow: -10px 10px 0px rgba($fontColor, .2)

+r($desktop)
  .social
    top: 40px
    right: 40px

+r($mobile)
  .social
    top: 25px
    right: 25px
    font-size: 50px
    a
      size: 50px


.intro
  position: relative
  z-index: 2
  padding-top: 50px
  padding-left: 30px
  padding-right: 30px
  margin: auto
  &__wrapper
    display: flex
    flex-direction: column
    max-width: 418px
    margin-left: auto
    margin-right: auto
  &__logo
    text-align: center
    svg
      max-width: 100%
      max-height: 220px
  &__heading
    text-align: center
    margin-top: 50px
    text-transform: uppercase
    &-main
      font-size: 43px
      letter-spacing: .132em
      font-weight: 800
      color: $colorPrimary
    &-sub
      font-size: 31px
  &__description
    margin-top: 5vh
    padding-top: 35px
    text-align: justify
    text-align-last: center
    font-size: 17px
    line-height: 1.2

+r($mobile)
  .intro
    padding-top: 80px
    &__wrapper
      max-width: 350px
    &__logo
      svg
        max-height: 150px
    &__heading
      &-main
        font-size: 37px
        letter-spacing: .11em
      &-sub
        font-size: 26px
    &__description
      font-size: 15px

+r($mobile-s)
  .intro
    padding-left: 20px
    padding-right: 20px
    &__wrapper
      max-width: 280px
    &__heading
      &-main
        font-size: 30px
        letter-spacing: .1em
      &-sub
        font-size: 21px

.particles
  position: absolute 0
  display: flex
  flex-direction: column
  z-index: 1
  .js-scene
    flex: 1 1 auto
    position: relative


.particle
  position: absolute
  size: 24px
  border-radius: 50%
  background: #262b35
  opacity: 0.2
  animation-name: particleZoomIn
  animation-duration: .4s
  animation-timing-function: ease-in-out
  animation-fill-mode: forwards
  transform: scale(0)
  &--1
    top: 25vh
    left: 20vw
    animation-delay: 2s
  &--2
    top: 65vh
    left: 80vw
    animation-delay: 2.2s
  &--3
    size: 13px
    top: 65vh
    left: 30vw
    animation-delay: 2.3s
  &--4
    opacity: .08
    size: 13px
    top: 17vh
    left: 80vw
    animation-delay: 2.4s
  &--4
    opacity: .08
    size: 13px
    top: 50vh
    left: 90vw
    animation-delay: 2.5s
  &--5
    opacity: .08
    size: 13px
    top: 70vh
    left: 10vw
    animation-delay: 2.4s
  &--6
    opacity: .08
    size: 13px
    top: 85vh
    left: 70vw
    animation-delay: 2.3s
  &--7
    opacity: .08
    size: 13px
    top: 40vh
    left: 75vw
    animation-delay: 2.5s
  &--8
    opacity: .08
    size: 7px
    top: 20vh
    left: 80vw
    animation-delay: 2.5s
  &--9
    opacity: .08
    size: 7px
    top: 15vh
    left: 35vw
    animation-delay: 2.6s
  &--10
    opacity: .08
    size: 7px
    top: 80vh
    left: 20vw
    animation-delay: 2.7s
  &--11
    opacity: .08
    size: 7px
    top: 10vh
    left: 10vw
    animation-delay: 2.7s
  &--12
    opacity: .08
    size: 7px
    top: 85vh
    left: 85vw
    animation-delay: 2.8s

@keyframes particleZoomIn
  0%
    transform: scale(0)
  60%
    transform: scale(2)
  100%
    transform: scale(1)
