// INDEX

.social
  position: absolute
  right: 55px
  top: 55px
  font-size: 65px
  a
    transition: all $transitionSpeed $ease
    &:hover
      color: $colorBlue
.intro
  &__wrapper
    display: flex
    flex-direction: column
    max-width: 418px
    margin-left: auto
    margin-right: auto
  &__logo
    text-align: center
    font-size: 320px
  &__heading
    text-transform: uppercase
    &-main
      font-size: 43px
      letter-spacing: .132em
      font-weight: 800
      color: $colorPrimary
    &-sub
      font-size: 31px
  &__description
    margin-top: auto
    padding-top: 35px
    text-align: justify
    font-size: 17px

// FOOTER
.footer
  padding: 60px
  &__wrapper
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: center
    align-items: flex-end
  &__email
    font-size: 24px
    margin-right: auto
    transition: all $transitionSpeed $ease
    .ico
      font-size: 30px
      margin-bottom: -6px
      margin-left: -2px
    span
      display: block
    &:hover
      color: $colorBlue
  &__credits
    text-align: center

  &__faces
    margin-left: auto
    display: flex
    align-items: center

.footer-face, .footer-join
  display: flex
  align-items: center
  justify-content: center
  position: relative
  z-index: 2
  size: 32px
  font-size: 32px
  overflow: hidden
  border-radius: 50%
  margin-right: 3px
  cursor: pointer
  transition: all $transitionSpeed $ease
  img
    max-width: 100%
  &:hover
    size: 50px
    font-size: 50px
    color: $colorPrimary
