// INDEX

.social
  position: absolute
  right: 60px
  top: 60px
  z-index: 3
  font-size: 60px
  perspective: 60px
  transform-style: preserve-3d
  a
    position: relative
    display: block
    size: 60px
    border-radius: 50%
    color: $colorBlue
    &::before
      display: inline-block
      content: ' '
      position: absolute 1px
      z-index: -1
      border-radius: 50%
      border: 6px solid #d4d5d7
  &:hover
    a
      &::before
        position: absolute -12px
        opacity: 0
        transition: all 1s ease

+r($hd)
  .social
    top: 40px
    right: 40px

+r($mobile)
  .social
    top: 0
    right: 0
    font-size: 35px
    background: $colorBlue
    a
      size: 35px
      &::before
        position: absolute 1px
        border: 16.5px solid white
    &:hover
      a
        &::before
          opacity: 1
          position: absolute 1px


.intro
  position: relative
  z-index: 2
  padding-top: 50px
  padding-left: 30px
  padding-right: 30px
  margin-top: 9.7vh
  &__wrapper
    display: flex
    flex-direction: column
    max-width: 415px
    margin-left: auto
    margin-right: auto
  &__logo
    text-align: center
    svg
      max-width: 100%
      max-height: 223px
      &:nth-child(2)
        display: none
  &__heading
    text-align: center
    margin-top: 45px
    text-transform: uppercase
    &-main
      font-size: 43px
      width: 420px
      letter-spacing: .132em
      font-weight: 800
      color: $colorPrimary
      text-shadow: 0px 2px 0px rgba(white, .99), 0px 3px 0px rgba($colorPrimary, .13)
    &-sub
      color: $colorMute
      font-size: 31px
      text-shadow: 0px 2px 0px rgba(white, .99), 0px 3px 0px rgba($colorPrimary, .13)
  &__description
    margin-top: 6vh
    padding-top: 35px
    text-align: justify
    text-align-last: center
    font-size: 17px
    line-height: 1.2

+rh(1000)
  .intro
    padding-top: 40px
    margin-top: 40px
    &__description
      margin-top: 0px

+rh(850)
  .intro
    margin-top: 25px


+rh(750)
  .intro
    margin-top: 0
    &__logo
      svg
        max-height: 170px

+r($hd)
  .intro
    &__wrapper
      max-width: 375px
    &__heading
      &-main
        width: auto
        font-size: 40px
        letter-spacing: .102em
      &-sub
        font-size: 28px
    &__description
      font-size: 16px

// +r($mobile)
//   .intro
//     padding-top: 80px
//     &__wrapper
//       max-width: 350px
//     &__logo
//       svg
//         max-height: 150px
//     &__heading
//       &-main
//         font-size: 37px
//         letter-spacing: .11em
//       &-sub
//         font-size: 26px
//     &__description
//       font-size: 15px

+r($mobile)
  .intro
    padding-top: 70px
    padding-left: 20px
    padding-right: 20px
    &__wrapper
      max-width: 225px
    &__logo
      svg
        max-height: 125px
        &:nth-child(1)
          display: none
        &:nth-child(2)
          display: block
    &__heading
      margin-top: 20px
      &-main
        font-size: 24px
        letter-spacing: .1em
        box-shadow: none
      &-sub
        font-size: 17px
        box-shadow: none
    &__description
      padding-top: 25px
      font-size: 12.5px

.particles
  position: absolute 0
  display: flex
  flex-direction: column
  z-index: 1
  .js-scene
    flex: 1 1 auto
    position: relative


.particle
  position: absolute
  size: 24px
  border-radius: 50%
  background: #262b35
  opacity: 0.2
  animation-name: particleZoomIn
  animation-duration: .4s
  animation-timing-function: ease-in-out
  animation-fill-mode: forwards
  transform: scale(0)
  &--1
    top: 27vh
    left: 19vw
    animation-delay: 2s
  &--2
    top: 63vh
    left: 74vw
    animation-delay: 2.2s
  &--3
    size: 13px
    top: 62vh
    left: 34vw
    animation-delay: 2.3s
  &--4
    opacity: .08
    size: 13px
    top: 50vh
    left: 90vw
    animation-delay: 2.5s
  &--5
    opacity: .08
    size: 13px
    top: 56vh
    left: 11vw
    animation-delay: 2.4s
  &--6
    opacity: .08
    size: 13px
    top: 83vh
    left: 65vw
    animation-delay: 2.3s
  &--7
    opacity: .08
    size: 13px
    top: 22vh
    left: 73vw
    animation-delay: 2.5s
  &--8
    opacity: .08
    size: 7px
    top: 40vh
    left: 69vw
    animation-delay: 2.5s
  &--9
    opacity: .08
    size: 7px
    top: 15vh
    left: 32vw
    animation-delay: 2.6s
  &--10
    opacity: .08
    size: 7px
    top: 73vh
    left: 17vw
    animation-delay: 2.7s
  &--11
    opacity: .08
    size: 7px
    top: 12vh
    left: 8vw
    animation-delay: 2.7s
  &--12
    opacity: .08
    size: 7px
    top: 82vh
    left: 88vw
    animation-delay: 2.8s

@keyframes particleZoomIn
  0%
    transform: scale(0)
  60%
    transform: scale(2)
  100%
    transform: scale(1)

@keyframes particleZoomIn2
  0%
    transform: scale(0)
  60%
    transform: scale(1.5)
  100%
    transform: scale(0.7)

+r($hd)
  .particle
    animation-name: particleZoomIn2

+r($mobile)
  .particle
    display: none
