.ico-behance {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-join {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-logo {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.ico-mail {
  width: 1em;
  height: 1em;
  fill: #157EFB;
}
