.ico-behance {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-join {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-logo-mobile {
  width: 1.19em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 1.17em;
  height: 1em;
  fill: none;
}
.ico-mail {
  width: 1em;
  height: 1em;
  fill: #157EFB;
}
